/* @import url(https://fonts.google.com/specimen/Poppins); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-content {
    display: flex;
    gap: 2em;
}

.section-content article {
    flex: 1 1 30%;
}