@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 'Poppins', sans-serif;
}

body {
    padding: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-header {
    text-align: center;
    padding-bottom: 1.7em;
}

.section-header h2 {
    font-size: 30px;
    font-weight: 600;
}

.section-header p {
    font-size: 15px;
    font-weight: 300;
}

.section-header h2 span {
    color: #327DC4;
}

.section-content {
    display: flex;
    gap: 1.5em;
}

.section-content article,
.section-content article .media {
    display: block;
    overflow: hidden;
    border-radius: 1.5em;
}

.section-content article {
    flex: 1 1 30%;
    background-color: #819DAF;
    color: black;
}

.section-content article .entry-content {
    padding: 1.5em;
}

.section-content article .entry-content h3 {
    font-size: 18px;
    font-weight: 600;
}

.section-content article .entry-content p {
    margin: 1em 0 1em 0;
}

.section-content article .button {
    color: white;
    background-color: #327DC4;
    display: inline-block;
    text-decoration: none;
    border-radius: 2em;
    border: 2px solid #323CC4;
    outline: 1px solid #fff;
    padding: 0.5em 2em;
}