@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 20px/1.5 "PT Sans", sans-serif;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Serif";
}

body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.site-section.banner {
    /* background-color: #00052F; */
    padding-bottom: 10em;
}

.site-section.banner .container {
    color: #fff;
}

.site-section.banner h2 {
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.26;
    margin-bottom: 0.5em;
}

.site-section.banner p {
    font-size: 1em;
    max-width: 33rem;
}

.site-section {
    padding: 2em;
}

.site-header {
    display: flex;
    justify-content: space-between;
    /* background-color: #00052F; */
}

.site-header nav ul {
    display: flex;
    font-size: 18px;
}

.site-header nav li {
    list-style: none outside;
    padding: 0 0.5em;
}

.site-header nav a {
    text-decoration: none;
    color: white;
}

.site-title a {
    display: block;
    width: 100px;
    height: 80px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url('images/logo.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.site-section.columns {
    border-bottom: 2px solid #ccc;
    background-color: white;
    padding: 5em;
}

.site-section.columns h2 {
    font-size: 2.1em;
    font-weight:normal;
    columns: #37282B;
}

.site-section.columns p {
    font-size: 0.8em;
    padding: 0.5em 2em 1em 0;
    margin-bottom: 2em;
    columns: #37282B;
}

.site-section.columns .button {
    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
    color: #B0825C;
    border: 2px solid #B0825C;
    padding: 0.5em 1.2em; 
}

.site-section.sponsors,
.site-section.partners {
    background-color: white;
    text-align: center;
}

.site-section.sponsors {
    padding-bottom: 0;
}

.site-section.partners {
    padding-top: 0.5em;
    padding-bottom: 3.5em;
} 

.site-section.sponsors h2,
.site-section.partners h2 {
    font-size: 2.1em;
    font-weight:normal;
    color: #B0825C;
}

.site-section.sponsors p,
.site-section.partners p {
    font-size: 0.8em;
    color: #716567;
}

.sponsors {
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 2em 0;
}

.sponsors li {
    list-style: none outside;
}

.sponsors li  {
    display: block;
    width: 7em;
    aspect-ratio: 1/1;
    background: #eee;
    padding: 1em;
    border-radius: 50%;
}

.sponsors li a img {
    display: block;
    width: 100%;
    height: auto;
}

.column-container {
    display: flex;
    gap: 2em;
}

.site-footer {
    background-color: #171720;
    color: #B3A6A8;
}

.site-footer h4 {
    color: white;
    font-size: 1em;
    font-weight: lighter;
    padding-bottom: 1.2em;
}

.site-footer li {
    font-size: 0.7em;
    font-weight: lighter;
    text-transform: uppercase;
    list-style: none outside;
    margin: 1em 3em 1.8em 0;
}

.copyright-site-footer {
    border-top: 1px solid rgb(255, 255, 255, 0.3);
    background-color: #171720;
    color: #B3A6A8;
    font-size: 0.7em;
    padding: 1em;
}