* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 Verdana, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-top-bar {
    background: #D01919;
    color: white;
}

.section-top-bar .container {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.section-top-bar .socials {
    display: flex;
}

.section-top-bar .socials li,
.section-top-bar a {
    display: block;
}

.section-top-bar a {
    color: white;
}

.section-coaches {
    background: #EFEFEF;
}

.section-footer {
    background: #D01919;
}