*{
    box-sizing: border-box;
  }
  
  .container {
    max-width: 65vw; 
    display: flex;
     
  }
  
  .container section {
    display: flex;
    text-align: center;
     
  }
  
  .container .item {
    border: 1px solid black;
    padding: 12px;
    display: block;
   
  }
  
  .container .week {
    width: 75%;
    flex-wrap: wrap;
    gap: 1px; 
    background-color: black; 
  }
  
  .container .week .item {
    width: 20%;
    flex: 1 1 18%;
    background-color: white; 
  }
  
  .container .week .item:nth-child(1),
  .container .week .item:nth-child(7) {
    width: 100%;
    flex-basis: 100%; 
  }
  
  .container .week .item:nth-child(8),
  .container .week .item:nth-child(9) {
    width: 50%;
  }
  
  .container .notes {
    width: 25%;
    flex-direction: column;
     
  }
  
  .container .notes .item {
    width: 100%; 
    flex: 1 1 100%;
  }