/*
body background color: background-color: #f6e0b5;
text color for Other categories: #63515c
background color for text under images: #66545e
*/
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6e0b5;
  display: flex;
  align-items: flex-start;
  overflow: hidden; 
  padding: 0.9em;
  box-sizing: content-box;
  position: relative;
}

.first-row,
.second-row, 
.categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 500px;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  transform: translate(-5%, -5%);
  gap: 0.2em;
  order: initial;
}


.music-reviews,
.celebrity-interviews,
.tv-show,
.arts-culture {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0.6em 0.6em 0.6em 0.5em;
  padding: 0;
  outline-width: 1px;
  outline-color: black;
  outline-style: solid;
  border-radius: 6px;
  max-height: 300px;
  max-width: 300px;
  transform: translate(10%);
  box-shadow: 1em 1em 1em 0.5em rgb(0, 0, 0, 0.5);
}

.other-categories {
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0.5em;
  color: hsl(323, 10%, 35%);
  transform: translate(15%);
  font-size: small;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;
}


h2 {
  margin: 0;
  padding: 0;
  text-align: start;
  text-indent: 2%;
  background-color: #66545e;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0px 0px 5px 5px;
  font-size: 80%;
  font-weight: normal;
}


.other-categories ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.other-categories li {
  margin: 0.4em;
  padding: 0;
  color: #63515c;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  line-height: 1.4em;
}

.other-categories li i {
  margin-right: 0.5rem;
}