/*
body background color: background-color: #f6e0b5;
text color for Other categories: #63515c
background color for text under images: #66545e
*/
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6e0b5;
  display: flex;
  align-items: flex-start;
  overflow: hidden; 
  padding: 0.9em;
  box-sizing: content-box;
  position: relative;
}

.first-row,
.second-row, 
.categories {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  transform: translate(-5%, -5%);
  
}


.music-reviews,
.celebrity-interviews,
.tv-show,
.arts-culture {
  display: flex;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0;
  outline-width: 1px;
  outline-color: black;
  outline-style: solid;
  border-radius: 6px;
  max-height: fit-content;
  max-width: fit-content;
  transform: translate(10%);
}

.music-reviews img,
.celebrity-interviews img, 
.tv-show img, 
.arts-culture img {
  display:flex;
  width: 100%;
  height: 87%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}


.music-reviews h2,
.celebrity-interviews h2,
.tv-show h2,
.arts-culture h2 {
  margin: 0;
  padding: 0;
  text-align: start;
  text-indent: 2%;
  background-color: #66545e;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0px 0px 5px 5px;
  font-size: 85%;
  font-weight: normal;
}


.other-categories {
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: hsl(323, 10%, 35%);
  transform: translate(15%);
}


.other-categories ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.other-categories li {
  margin: 0;
  padding: 0;
  color: #63515c;
  display: flex;
  align-items: center;
  font-size: smaller;
  line-height: 1.4em;
}

.other-categories li i {
  margin-right: 0.5rem;
}