/*
body background color: background-color: #f6e0b5;
text color for Other categories: #63515c
background color for text under images: #66545e
*/
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6e0b5;
  color: #000;
  display: flex;
  align-items: flex-start;
  

}

.first-row, 
.second-row,
.categories {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  flex-wrap: wrap;
}

.music-reviews {
  order: 1;
}

.celebrity-interviews {
  order: 2;
}

.tv-show {
  order: 3;
}

.arts-culture {
  order: 4;
}

.music-reviews,
.celebrity-interviews,
.tv-show,
.arts-culture {
  display: flex;
  margin-bottom: 0.6rem;
  position: relative;
  margin: 0em 0 0.7em 0;;
  top: 0;
  left: 0;
}


.music-reviews img {
  display:flex;
  width: 100%;
  height: 90%;
  border-radius: 6px;
}

.celebrity-interviews img{
  display:flex;
  width: 100%;
  height: 85%;
  border-radius: 6px;
}

.tv-show img { 
  display:flex;
  width: 100%;
  height: 90%;
  border-radius: 6px;
} 

.arts-culture img {
  display:flex;
  width: 100%;
  height: 90%;
  border-radius: 6px;
}

.music-reviews h2,
.celebrity-interviews h2,
.tv-show h2,
.arts-culture h2 {
  margin: 0;
  padding: 0;
  text-align: start;
  text-indent: 2%;
  background-color: #66545e;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0px 0px 5px 5px;
  font-size: smaller;
}


.other-categories {
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #63515c;
}


.other-categories ul {
  padding: 0;
  margin: 0;
}

.other-categories li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: #63515c;
  display: flex;
  align-items: center;
  font-size: smaller;
}

.other-categories li i {
  margin-right: 0.5rem;
}